optim_exportRng/of_mediaWeb.rng

<?xml version="1.0" encoding="UTF-8"?>
<sng:grammar xmlns:of="scpf.org:office" xmlns:sp="http://www.utc.fr/ics/scenari/v3/primitive" xmlns:sc="http://www.utc.fr/ics/scenari/v3/core" xmlns:sng="http://relaxng.org/ns/structure/1.0" xmlns:snga="http://relaxng.org/ns/compatibility/annotations/1.0"  datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">

<sng:start>
<sng:element name="sc:item">
<sng:ref name="of_mediaWeb"/>
</sng:element>
</sng:start>

<sng:define xmlns:sng="http://relaxng.org/ns/structure/1.0" name="of_mediaWeb">
<sng:element name="of:mediaWeb" snga:title="Module web distant">
<snga:documentation>Permet d'inclure des ressources issues de sites webs externes telles que des vidéos Youtube, des cartes Google Maps etc.</snga:documentation>
<sng:ref name="of_animM"/>
<sng:element name="sp:unknown" snga:title="Inclusion web générique">
<sng:ref name="of_mwUnM"/>
<sng:empty/>
</sng:element>
</sng:element>
</sng:define>
<sng:define xmlns:sng="http://relaxng.org/ns/structure/1.0" name="of_animM">
<sng:element name="of:animM" snga:title="Meta des animations">
<sng:optional>
<sng:element name="sp:title" snga:title="Légende">
<snga:documentation>Permet de saisir la légende qui sera affichée dans les supports de publication.</snga:documentation>
<sng:data type="string">
<sng:param name="minLength">1</sng:param>
</sng:data>
</sng:element>
</sng:optional>
<sng:optional>
<sng:element name="sp:alt" snga:title="Alternative pour les supports statiques">
<snga:documentation>Permet de saisir un contenu descriptif, de lier une image, un tableau ou de créer un lien externe afin de proposer une alternative à la vidéo. Son contenu est utilisé pour la publication des supports papier, en remplacement de la ressource multimédia.</snga:documentation>
<sng:ref name="of_flow"/>
</sng:element>
</sng:optional>
<sng:optional>
<sng:element name="sp:desc" snga:title="Description (accessibilité)">
<snga:documentation>Permet de décrire le contenu et le sens d'une ressource complexe pour des utilisateurs placés dans des contextes où les images ne sont pas perceptibles.</snga:documentation>
<sng:ref name="of_txt"/>
</sng:element>
</sng:optional>
</sng:element>
</sng:define>
<sng:define xmlns:sng="http://relaxng.org/ns/structure/1.0" name="of_flow">
<sng:element name="of:flow" snga:title="Contenu">
<sng:element name="sp:txt" snga:title="Texte">
<sng:ref xmlns:sng="http://relaxng.org/ns/structure/1.0" name="of_txt"/>
</sng:element>
</sng:element>
</sng:define>
<sng:define xmlns:sng="http://relaxng.org/ns/structure/1.0" name="of_txt">
<sng:element name="of:txt" snga:title="Texte">
<snga:documentation> Texte riche avec inclusion de références </snga:documentation>
<sng:ref name="of_txt_blocs"/>
</sng:element>
</sng:define>
<sng:define xmlns:sng="http://relaxng.org/ns/structure/1.0" name="of_txt_blocs">
<sng:oneOrMore>
<sng:choice>
<sng:element name="sc:para" snga:title="Paragraphe">
<sng:ref name="of_txt_id"/>
<sng:optional>
<sng:attribute name="xml:space">
<sng:value>preserve</sng:value>
</sng:attribute>
</sng:optional>
<sng:ref name="of_txt_inline"/>
</sng:element>
<sng:element name="sc:itemizedList" snga:title="Liste à puce">
<sng:optional>
<sng:attribute name="role">
<sng:value/>
</sng:attribute>
</sng:optional>
<sng:ref name="of_txt_id"/>
<sng:zeroOrMore>
<sng:element name="sc:listItem">
<sng:ref name="of_txt_id"/>
<sng:ref name="of_txt_blocs"/>
</sng:element>
</sng:zeroOrMore>
</sng:element>
<sng:element name="sc:orderedList" snga:title="Liste ordonnée">
<sng:optional>
<sng:attribute name="role">
<sng:value/>
</sng:attribute>
</sng:optional>
<sng:ref name="of_txt_id"/>
<sng:zeroOrMore>
<sng:element name="sc:listItem">
<sng:ref name="of_txt_id"/>
<sng:ref name="of_txt_blocs"/>
</sng:element>
</sng:zeroOrMore>
</sng:element>
<sng:element name="sc:table" snga:title="Tableau">
<sng:optional>
<sng:attribute name="role">
<sng:value/>
</sng:attribute>
</sng:optional>
<sng:ref name="of_txt_id"/>
<sng:optional>
<sng:element name="sc:caption" snga:title="">
<sng:ref name="of_txt_id"/>
<sng:ref name="of_txt_inline"/>
<sng:optional>
<sng:attribute name="xml:space">
<sng:value>preserve</sng:value>
</sng:attribute>
</sng:optional>
</sng:element>
</sng:optional>
<sng:zeroOrMore>
<sng:choice>
<sng:element name="sc:column" snga:title="Colonne">
<sng:optional>
<sng:attribute name="role">
<sng:value/>
</sng:attribute>
</sng:optional>
<sng:ref name="of_txt_id"/>
<sng:attribute name="width">
<sng:data type="string"/>
</sng:attribute>
</sng:element>
<sng:element name="sc:column" snga:title="Colonne de total">
<sng:attribute name="role">
<sng:value>total</sng:value>
</sng:attribute>
<sng:ref name="of_txt_id"/>
<sng:attribute name="width">
<sng:data type="string"/>
</sng:attribute>
</sng:element>
</sng:choice>
</sng:zeroOrMore>
<sng:zeroOrMore>
<sng:choice>
<sng:element name="sc:row" snga:title="Ligne">
<sng:optional>
<sng:attribute name="role">
<sng:value/>
</sng:attribute>
</sng:optional>
<sng:ref name="of_txt_id"/>
<sng:ref name="of_txt_cells_"/>
</sng:element>
<sng:element name="sc:row" snga:title="Ligne d'entête">
<sng:attribute name="role">
<sng:value>head</sng:value>
</sng:attribute>
<sng:ref name="of_txt_id"/>
<sng:ref name="of_txt_cells_"/>
</sng:element>
<sng:element name="sc:row" snga:title="Ligne de total">
<sng:attribute name="role">
<sng:value>total</sng:value>
</sng:attribute>
<sng:ref name="of_txt_id"/>
<sng:ref name="of_txt_cells_"/>
</sng:element>
</sng:choice>
</sng:zeroOrMore>
<sng:ref name="of_txt_cells_"/>
</sng:element>
<sng:element name="sc:table" snga:title="Tableau de mise en forme">
<sng:attribute name="role">
<sng:value>layout</sng:value>
</sng:attribute>
<sng:ref name="of_txt_id"/>
<sng:zeroOrMore>
<sng:element name="sc:column" snga:title="Colonne">
<sng:optional>
<sng:attribute name="role">
<sng:value/>
</sng:attribute>
</sng:optional>
<sng:ref name="of_txt_id"/>
<sng:attribute name="width">
<sng:data type="string"/>
</sng:attribute>
</sng:element>
</sng:zeroOrMore>
<sng:zeroOrMore>
<sng:element name="sc:row" snga:title="Ligne">
<sng:optional>
<sng:attribute name="role">
<sng:value/>
</sng:attribute>
</sng:optional>
<sng:ref name="of_txt_id"/>
<sng:ref name="of_txt_cells_layout"/>
</sng:element>
</sng:zeroOrMore>
<sng:ref name="of_txt_cells_layout"/>
</sng:element>
<sng:element name="sc:extBlock" snga:title="Image, graphique, tableau, équation">
<sng:attribute name="role">
<sng:value>img</sng:value>
</sng:attribute>
<sng:ref name="of_txt_id"/>
<sng:attribute name="sc:refUri">
<sng:data type="string">
<sng:param name="minLength">1</sng:param>
</sng:data>
</sng:attribute>
</sng:element>
<sng:element name="sc:extBlock" snga:title="Animation">
<sng:attribute name="role">
<sng:value>anim</sng:value>
</sng:attribute>
<sng:ref name="of_txt_id"/>
<sng:attribute name="sc:refUri">
<sng:data type="string">
<sng:param name="minLength">1</sng:param>
</sng:data>
</sng:attribute>
</sng:element>
</sng:choice>
</sng:oneOrMore>
</sng:define>
<sng:define xmlns:sng="http://relaxng.org/ns/structure/1.0" name="of_txt_inline">
<sng:zeroOrMore>
<sng:choice>
<sng:text/>
<sng:element name="sc:uLink" snga:title="Adresse web, email">
<sng:attribute name="role">
<sng:value>url</sng:value>
</sng:attribute>
<sng:ref name="of_txt_id"/>
<sng:optional>
<sng:attribute name="url">
<sng:data type="string">
<sng:param name="minLength">1</sng:param>
</sng:data>
</sng:attribute>
</sng:optional>
<sng:optional>
<sng:attribute name="sc:refUri">
<sng:data type="string">
<sng:param name="minLength">1</sng:param>
</sng:data>
</sng:attribute>
</sng:optional>
<sng:ref name="of_txt_inline"/>
</sng:element>
<sng:element name="sc:uLink" snga:title="Définition">
<sng:attribute name="role">
<sng:value>def</sng:value>
</sng:attribute>
<sng:ref name="of_txt_id"/>
<sng:optional>
<sng:attribute name="url">
<sng:data type="string">
<sng:param name="minLength">1</sng:param>
</sng:data>
</sng:attribute>
</sng:optional>
<sng:optional>
<sng:attribute name="sc:refUri">
<sng:data type="string">
<sng:param name="minLength">1</sng:param>
</sng:data>
</sng:attribute>
</sng:optional>
<sng:ref name="of_txt_inline"/>
</sng:element>
<sng:element name="sc:uLink" snga:title="Bibliographie">
<sng:attribute name="role">
<sng:value>doc</sng:value>
</sng:attribute>
<sng:ref name="of_txt_id"/>
<sng:optional>
<sng:attribute name="url">
<sng:data type="string">
<sng:param name="minLength">1</sng:param>
</sng:data>
</sng:attribute>
</sng:optional>
<sng:optional>
<sng:attribute name="sc:refUri">
<sng:data type="string">
<sng:param name="minLength">1</sng:param>
</sng:data>
</sng:attribute>
</sng:optional>
<sng:ref name="of_txt_inline"/>
</sng:element>
<sng:element name="sc:uLink" snga:title="Référence interne">
<sng:attribute name="role">
<sng:value>ref</sng:value>
</sng:attribute>
<sng:ref name="of_txt_id"/>
<sng:optional>
<sng:attribute name="url">
<sng:data type="string">
<sng:param name="minLength">1</sng:param>
</sng:data>
</sng:attribute>
</sng:optional>
<sng:optional>
<sng:attribute name="sc:refUri">
<sng:data type="string">
<sng:param name="minLength">1</sng:param>
</sng:data>
</sng:attribute>
</sng:optional>
<sng:ref name="of_txt_inline"/>
</sng:element>
<sng:element name="sc:phrase" snga:title="Citation">
<sng:attribute name="role">
<sng:value>quote</sng:value>
</sng:attribute>
<sng:ref name="of_txt_id"/>
<sng:optional>
<sng:attribute name="xml:lang">
<sng:data type="string"/>
</sng:attribute>
</sng:optional>
<sng:ref name="of_txt_inline"/>
</sng:element>
<sng:element name="sc:phrase" snga:title="Terme spécifique">
<sng:attribute name="role">
<sng:value>special</sng:value>
</sng:attribute>
<sng:ref name="of_txt_id"/>
<sng:optional>
<sng:attribute name="xml:lang">
<sng:data type="string"/>
</sng:attribute>
</sng:optional>
<sng:ref name="of_txt_inline"/>
</sng:element>
<sng:element name="sc:inlineStyle" snga:title="Mise en relief">
<sng:attribute name="role">
<sng:value>emphasis</sng:value>
</sng:attribute>
<sng:ref name="of_txt_id"/>
<sng:ref name="of_txt_inline"/>
</sng:element>
<sng:element name="sc:inlineImg" snga:title="Imagette">
<sng:attribute name="role">
<sng:value>ico</sng:value>
</sng:attribute>
<sng:ref name="of_txt_id"/>
<sng:attribute name="sc:refUri">
<sng:data type="string">
<sng:param name="minLength">1</sng:param>
</sng:data>
</sng:attribute>
<sng:text/>
</sng:element>
</sng:choice>
</sng:zeroOrMore>
</sng:define>
<sng:define xmlns:sng="http://relaxng.org/ns/structure/1.0" name="of_txt_id">
<sng:optional>
<sng:attribute name="sc:id">
<sng:data type="ID"/>
</sng:attribute>
</sng:optional>
</sng:define>
<sng:define xmlns:sng="http://relaxng.org/ns/structure/1.0" name="of_txt_cells_">
<sng:zeroOrMore>
<sng:choice>
<sng:element name="sc:cell" snga:title="Cellule de texte">
<sng:optional>
<sng:attribute name="role">
<sng:value/>
</sng:attribute>
</sng:optional>
<sng:ref name="of_txt_id"/>
<sng:optional>
<sng:attribute name="rowSpan">
<sng:data type="string"/>
</sng:attribute>
</sng:optional>
<sng:optional>
<sng:attribute name="colSpan">
<sng:data type="string"/>
</sng:attribute>
</sng:optional>
<sng:optional>
<sng:ref name="of_txt_blocs"/>
</sng:optional>
</sng:element>
<sng:element name="sc:cell" snga:title="Cellule de nombre">
<sng:attribute name="role">
<sng:value>num</sng:value>
</sng:attribute>
<sng:ref name="of_txt_id"/>
<sng:optional>
<sng:attribute name="rowSpan">
<sng:data type="string"/>
</sng:attribute>
</sng:optional>
<sng:optional>
<sng:attribute name="colSpan">
<sng:data type="string"/>
</sng:attribute>
</sng:optional>
<sng:optional>
<sng:ref name="of_txt_blocs"/>
</sng:optional>
</sng:element>
<sng:element name="sc:cell" snga:title="Cellule de mot">
<sng:attribute name="role">
<sng:value>word</sng:value>
</sng:attribute>
<sng:ref name="of_txt_id"/>
<sng:optional>
<sng:attribute name="rowSpan">
<sng:data type="string"/>
</sng:attribute>
</sng:optional>
<sng:optional>
<sng:attribute name="colSpan">
<sng:data type="string"/>
</sng:attribute>
</sng:optional>
<sng:optional>
<sng:ref name="of_txt_blocs"/>
</sng:optional>
</sng:element>
</sng:choice>
</sng:zeroOrMore>
</sng:define>
<sng:define xmlns:sng="http://relaxng.org/ns/structure/1.0" name="of_txt_cells_layout">
<sng:zeroOrMore>
<sng:element name="sc:cell" snga:title="Cellule">
<sng:optional>
<sng:attribute name="role">
<sng:value/>
</sng:attribute>
</sng:optional>
<sng:ref name="of_txt_id"/>
<sng:optional>
<sng:attribute name="rowSpan">
<sng:data type="string"/>
</sng:attribute>
</sng:optional>
<sng:optional>
<sng:attribute name="colSpan">
<sng:data type="string"/>
</sng:attribute>
</sng:optional>
<sng:optional>
<sng:ref name="of_txt_blocs"/>
</sng:optional>
</sng:element>
</sng:zeroOrMore>
</sng:define>
<sng:define xmlns:sng="http://relaxng.org/ns/structure/1.0" name="of_mwUnM">
<sng:element name="of:mwUnM" snga:title="Autre Fragment">
<sng:optional>
<sng:element name="sp:align" snga:title="Alignement">
<snga:documentation>Permet de spécifier l'alignement voulu du Module web distant.</snga:documentation>
<sng:choice>
<sng:value type="string" snga:title="Auto">auto</sng:value>
<sng:value type="string" snga:title="Gauche">left</sng:value>
<sng:value type="string" snga:title="Droite">right</sng:value>
<sng:value type="string" snga:title="Centré">center</sng:value>
<sng:value type="string" snga:title="Justifié">justify</sng:value>
</sng:choice>
</sng:element>
</sng:optional>
<sng:element name="sp:frag" snga:title="Fragment">
<sng:data type="string">
<sng:param name="minLength">1</sng:param>
</sng:data>
</sng:element>
</sng:element>
</sng:define>

</sng:grammar>