optim_exportRng/of_section.rng

<?xml version="1.0" encoding="UTF-8"?>
<sng:grammar xmlns:of="scpf.org:office" xmlns:sp="http://www.utc.fr/ics/scenari/v3/primitive" xmlns:sc="http://www.utc.fr/ics/scenari/v3/core" xmlns:sng="http://relaxng.org/ns/structure/1.0" xmlns:snga="http://relaxng.org/ns/compatibility/annotations/1.0"  datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">

<sng:start>
<sng:element name="sc:item">
<sng:ref name="of_section"/>
</sng:element>
</sng:start>

<sng:define xmlns:sng="http://relaxng.org/ns/structure/1.0" name="of_section">
<sng:element name="of:section" snga:title="Section (Contenu structuré et filtrable par support)">
<snga:documentation>Item central, principal support du contenu, elle peut être réutilisée dans tous les types de publications.</snga:documentation>
<sng:ref name="of_sectionM"/>
<sng:optional>
<sng:element name="sp:content" snga:title="Contenu">
<sng:ref xmlns:sng="http://relaxng.org/ns/structure/1.0" name="of_fragment"/>
</sng:element>
</sng:optional>
<sng:zeroOrMore>
<sng:element xmlns:sng="http://relaxng.org/ns/structure/1.0" name="sp:sec" snga:title="Section">
<snga:documentation>Permet de saisir le contenu de sous-sections ou de lier des sections ou items déjà existants dans l'explorateur.</snga:documentation>
<sng:optional>
<sng:ref name="of_filter"/>
</sng:optional>
<sng:choice>
<sng:group>
<sng:attribute name="sc:refUri">
<sng:data type="string">
<sng:param name="minLength">1</sng:param>
</sng:data>
</sng:attribute>
<sng:empty/>
</sng:group>
<sng:ref xmlns:sng="http://relaxng.org/ns/structure/1.0" name="of_section"/>
</sng:choice>
</sng:element>
</sng:zeroOrMore>
</sng:element>
</sng:define>
<sng:define xmlns:sng="http://relaxng.org/ns/structure/1.0" name="of_fragment">
<sng:element name="of:fragment" snga:title="Fragment">
<snga:documentation>Est un ensemble réutilisable, non titré, de blocs de contenu et d'items communs.</snga:documentation>
<sng:zeroOrMore>
<sng:choice>
<sng:element xmlns:sng="http://relaxng.org/ns/structure/1.0" name="sp:info" snga:title="Bloc">
<snga:documentation>Il s'agit du Bloc d'information par défaut, sans intentionnalité particulière.</snga:documentation>
<sng:optional>
<sng:ref name="of_filter"/>
</sng:optional>
<sng:choice>
<sng:group>
<sng:attribute name="sc:refUri">
<sng:data type="string">
<sng:param name="minLength">1</sng:param>
</sng:data>
</sng:attribute>
<sng:empty/>
</sng:group>
<sng:ref xmlns:sng="http://relaxng.org/ns/structure/1.0" name="of_block"/>
</sng:choice>
</sng:element>
<sng:element xmlns:sng="http://relaxng.org/ns/structure/1.0" name="sp:emphasis" snga:title="Bloc mis en relief">
<snga:documentation>Il est utilisé pour attirer l'attention du lecteur sur une information importante à l'aide d'une mise en forme spécifique.</snga:documentation>
<sng:optional>
<sng:ref name="of_filter"/>
</sng:optional>
<sng:choice>
<sng:group>
<sng:attribute name="sc:refUri">
<sng:data type="string">
<sng:param name="minLength">1</sng:param>
</sng:data>
</sng:attribute>
<sng:empty/>
</sng:group>
<sng:ref xmlns:sng="http://relaxng.org/ns/structure/1.0" name="of_block"/>
</sng:choice>
</sng:element>
<sng:element xmlns:sng="http://relaxng.org/ns/structure/1.0" name="sp:extra" snga:title="Bloc complément">
<snga:documentation>Il identifie une information supplémentaire, facultative, donnée en guise d'approfondissement...</snga:documentation>
<sng:optional>
<sng:ref name="of_filter"/>
</sng:optional>
<sng:choice>
<sng:group>
<sng:attribute name="sc:refUri">
<sng:data type="string">
<sng:param name="minLength">1</sng:param>
</sng:data>
</sng:attribute>
<sng:empty/>
</sng:group>
<sng:ref xmlns:sng="http://relaxng.org/ns/structure/1.0" name="of_block"/>
</sng:choice>
</sng:element>
<sng:element xmlns:sng="http://relaxng.org/ns/structure/1.0" name="sp:evtList" snga:title="Liste d'évènements">
<snga:documentation>Permet de lier un regroupement d'un ensemble titré d'Événements afin de les publier conjointement.</snga:documentation>
<sng:attribute name="sc:refUri">
<sng:data type="string">
<sng:param name="minLength">1</sng:param>
</sng:data>
</sng:attribute>
<sng:optional>
<sng:ref name="of_filter"/>
</sng:optional>
<sng:empty/>
</sng:element>
<sng:element xmlns:sng="http://relaxng.org/ns/structure/1.0" name="sp:gallery" snga:title="Galerie d'images">
<snga:documentation>Permet de lier un ensemble de plusieurs ressources (images, tableaux, graphiques) successivement. À la publication web, ces ressources sont passées en boucle, à la manière d'un diaporama.</snga:documentation>
<sng:attribute name="sc:refUri">
<sng:data type="string">
<sng:param name="minLength">1</sng:param>
</sng:data>
</sng:attribute>
<sng:optional>
<sng:ref name="of_filter"/>
</sng:optional>
<sng:empty/>
</sng:element>
<sng:element xmlns:sng="http://relaxng.org/ns/structure/1.0" name="sp:tree" snga:title="Arbre de concepts">
<snga:documentation>Permet de lier une arborescence de type carte heuristique ; c'est à dire un schéma qui permet de représenter visuellement et de suivre le cheminement associatif de la pensée.</snga:documentation>
<sng:attribute name="sc:refUri">
<sng:data type="string">
<sng:param name="minLength">1</sng:param>
</sng:data>
</sng:attribute>
<sng:optional>
<sng:ref name="of_filter"/>
</sng:optional>
<sng:empty/>
</sng:element>
<sng:element xmlns:sng="http://relaxng.org/ns/structure/1.0" name="sp:frag" snga:title="Fragment">
<snga:documentation>Permet de lier un ensemble réutilisable, non titré, de blocs de contenu et d'items communs.</snga:documentation>
<sng:attribute name="sc:refUri">
<sng:data type="string">
<sng:param name="minLength">1</sng:param>
</sng:data>
</sng:attribute>
<sng:empty/>
</sng:element>
</sng:choice>
</sng:zeroOrMore>
</sng:element>
</sng:define>
<sng:define xmlns:sng="http://relaxng.org/ns/structure/1.0" name="of_block">
<sng:element name="of:block" snga:title="Bloc de contenu">
<sng:ref name="of_blockM"/>
<sng:element name="sp:co" snga:title="Contenu">
<sng:ref xmlns:sng="http://relaxng.org/ns/structure/1.0" name="of_flow"/>
</sng:element>
</sng:element>
</sng:define>
<sng:define xmlns:sng="http://relaxng.org/ns/structure/1.0" name="of_flow">
<sng:element name="of:flow" snga:title="Contenu">
<sng:element name="sp:txt" snga:title="Texte">
<sng:ref xmlns:sng="http://relaxng.org/ns/structure/1.0" name="of_txt"/>
</sng:element>
</sng:element>
</sng:define>
<sng:define xmlns:sng="http://relaxng.org/ns/structure/1.0" name="of_txt">
<sng:element name="of:txt" snga:title="Texte">
<snga:documentation> Texte riche avec inclusion de références </snga:documentation>
<sng:ref name="of_txt_blocs"/>
</sng:element>
</sng:define>
<sng:define xmlns:sng="http://relaxng.org/ns/structure/1.0" name="of_txt_blocs">
<sng:oneOrMore>
<sng:choice>
<sng:element name="sc:para" snga:title="Paragraphe">
<sng:ref name="of_txt_id"/>
<sng:optional>
<sng:attribute name="xml:space">
<sng:value>preserve</sng:value>
</sng:attribute>
</sng:optional>
<sng:ref name="of_txt_inline"/>
</sng:element>
<sng:element name="sc:itemizedList" snga:title="Liste à puce">
<sng:optional>
<sng:attribute name="role">
<sng:value/>
</sng:attribute>
</sng:optional>
<sng:ref name="of_txt_id"/>
<sng:zeroOrMore>
<sng:element name="sc:listItem">
<sng:ref name="of_txt_id"/>
<sng:ref name="of_txt_blocs"/>
</sng:element>
</sng:zeroOrMore>
</sng:element>
<sng:element name="sc:orderedList" snga:title="Liste ordonnée">
<sng:optional>
<sng:attribute name="role">
<sng:value/>
</sng:attribute>
</sng:optional>
<sng:ref name="of_txt_id"/>
<sng:zeroOrMore>
<sng:element name="sc:listItem">
<sng:ref name="of_txt_id"/>
<sng:ref name="of_txt_blocs"/>
</sng:element>
</sng:zeroOrMore>
</sng:element>
<sng:element name="sc:table" snga:title="Tableau">
<sng:optional>
<sng:attribute name="role">
<sng:value/>
</sng:attribute>
</sng:optional>
<sng:ref name="of_txt_id"/>
<sng:optional>
<sng:element name="sc:caption" snga:title="">
<sng:ref name="of_txt_id"/>
<sng:ref name="of_txt_inline"/>
<sng:optional>
<sng:attribute name="xml:space">
<sng:value>preserve</sng:value>
</sng:attribute>
</sng:optional>
</sng:element>
</sng:optional>
<sng:zeroOrMore>
<sng:choice>
<sng:element name="sc:column" snga:title="Colonne">
<sng:optional>
<sng:attribute name="role">
<sng:value/>
</sng:attribute>
</sng:optional>
<sng:ref name="of_txt_id"/>
<sng:attribute name="width">
<sng:data type="string"/>
</sng:attribute>
</sng:element>
<sng:element name="sc:column" snga:title="Colonne de total">
<sng:attribute name="role">
<sng:value>total</sng:value>
</sng:attribute>
<sng:ref name="of_txt_id"/>
<sng:attribute name="width">
<sng:data type="string"/>
</sng:attribute>
</sng:element>
</sng:choice>
</sng:zeroOrMore>
<sng:zeroOrMore>
<sng:choice>
<sng:element name="sc:row" snga:title="Ligne">
<sng:optional>
<sng:attribute name="role">
<sng:value/>
</sng:attribute>
</sng:optional>
<sng:ref name="of_txt_id"/>
<sng:ref name="of_txt_cells_"/>
</sng:element>
<sng:element name="sc:row" snga:title="Ligne d'entête">
<sng:attribute name="role">
<sng:value>head</sng:value>
</sng:attribute>
<sng:ref name="of_txt_id"/>
<sng:ref name="of_txt_cells_"/>
</sng:element>
<sng:element name="sc:row" snga:title="Ligne de total">
<sng:attribute name="role">
<sng:value>total</sng:value>
</sng:attribute>
<sng:ref name="of_txt_id"/>
<sng:ref name="of_txt_cells_"/>
</sng:element>
</sng:choice>
</sng:zeroOrMore>
<sng:ref name="of_txt_cells_"/>
</sng:element>
<sng:element name="sc:table" snga:title="Tableau de mise en forme">
<sng:attribute name="role">
<sng:value>layout</sng:value>
</sng:attribute>
<sng:ref name="of_txt_id"/>
<sng:zeroOrMore>
<sng:element name="sc:column" snga:title="Colonne">
<sng:optional>
<sng:attribute name="role">
<sng:value/>
</sng:attribute>
</sng:optional>
<sng:ref name="of_txt_id"/>
<sng:attribute name="width">
<sng:data type="string"/>
</sng:attribute>
</sng:element>
</sng:zeroOrMore>
<sng:zeroOrMore>
<sng:element name="sc:row" snga:title="Ligne">
<sng:optional>
<sng:attribute name="role">
<sng:value/>
</sng:attribute>
</sng:optional>
<sng:ref name="of_txt_id"/>
<sng:ref name="of_txt_cells_layout"/>
</sng:element>
</sng:zeroOrMore>
<sng:ref name="of_txt_cells_layout"/>
</sng:element>
<sng:element name="sc:extBlock" snga:title="Image, graphique, tableau, équation">
<sng:attribute name="role">
<sng:value>img</sng:value>
</sng:attribute>
<sng:ref name="of_txt_id"/>
<sng:attribute name="sc:refUri">
<sng:data type="string">
<sng:param name="minLength">1</sng:param>
</sng:data>
</sng:attribute>
</sng:element>
<sng:element name="sc:extBlock" snga:title="Animation">
<sng:attribute name="role">
<sng:value>anim</sng:value>
</sng:attribute>
<sng:ref name="of_txt_id"/>
<sng:attribute name="sc:refUri">
<sng:data type="string">
<sng:param name="minLength">1</sng:param>
</sng:data>
</sng:attribute>
</sng:element>
</sng:choice>
</sng:oneOrMore>
</sng:define>
<sng:define xmlns:sng="http://relaxng.org/ns/structure/1.0" name="of_txt_inline">
<sng:zeroOrMore>
<sng:choice>
<sng:text/>
<sng:element name="sc:uLink" snga:title="Adresse web, email">
<sng:attribute name="role">
<sng:value>url</sng:value>
</sng:attribute>
<sng:ref name="of_txt_id"/>
<sng:optional>
<sng:attribute name="url">
<sng:data type="string">
<sng:param name="minLength">1</sng:param>
</sng:data>
</sng:attribute>
</sng:optional>
<sng:optional>
<sng:attribute name="sc:refUri">
<sng:data type="string">
<sng:param name="minLength">1</sng:param>
</sng:data>
</sng:attribute>
</sng:optional>
<sng:ref name="of_txt_inline"/>
</sng:element>
<sng:element name="sc:uLink" snga:title="Définition">
<sng:attribute name="role">
<sng:value>def</sng:value>
</sng:attribute>
<sng:ref name="of_txt_id"/>
<sng:optional>
<sng:attribute name="url">
<sng:data type="string">
<sng:param name="minLength">1</sng:param>
</sng:data>
</sng:attribute>
</sng:optional>
<sng:optional>
<sng:attribute name="sc:refUri">
<sng:data type="string">
<sng:param name="minLength">1</sng:param>
</sng:data>
</sng:attribute>
</sng:optional>
<sng:ref name="of_txt_inline"/>
</sng:element>
<sng:element name="sc:uLink" snga:title="Bibliographie">
<sng:attribute name="role">
<sng:value>doc</sng:value>
</sng:attribute>
<sng:ref name="of_txt_id"/>
<sng:optional>
<sng:attribute name="url">
<sng:data type="string">
<sng:param name="minLength">1</sng:param>
</sng:data>
</sng:attribute>
</sng:optional>
<sng:optional>
<sng:attribute name="sc:refUri">
<sng:data type="string">
<sng:param name="minLength">1</sng:param>
</sng:data>
</sng:attribute>
</sng:optional>
<sng:ref name="of_txt_inline"/>
</sng:element>
<sng:element name="sc:uLink" snga:title="Référence interne">
<sng:attribute name="role">
<sng:value>ref</sng:value>
</sng:attribute>
<sng:ref name="of_txt_id"/>
<sng:optional>
<sng:attribute name="url">
<sng:data type="string">
<sng:param name="minLength">1</sng:param>
</sng:data>
</sng:attribute>
</sng:optional>
<sng:optional>
<sng:attribute name="sc:refUri">
<sng:data type="string">
<sng:param name="minLength">1</sng:param>
</sng:data>
</sng:attribute>
</sng:optional>
<sng:ref name="of_txt_inline"/>
</sng:element>
<sng:element name="sc:phrase" snga:title="Citation">
<sng:attribute name="role">
<sng:value>quote</sng:value>
</sng:attribute>
<sng:ref name="of_txt_id"/>
<sng:optional>
<sng:attribute name="xml:lang">
<sng:data type="string"/>
</sng:attribute>
</sng:optional>
<sng:ref name="of_txt_inline"/>
</sng:element>
<sng:element name="sc:phrase" snga:title="Terme spécifique">
<sng:attribute name="role">
<sng:value>special</sng:value>
</sng:attribute>
<sng:ref name="of_txt_id"/>
<sng:optional>
<sng:attribute name="xml:lang">
<sng:data type="string"/>
</sng:attribute>
</sng:optional>
<sng:ref name="of_txt_inline"/>
</sng:element>
<sng:element name="sc:inlineStyle" snga:title="Mise en relief">
<sng:attribute name="role">
<sng:value>emphasis</sng:value>
</sng:attribute>
<sng:ref name="of_txt_id"/>
<sng:ref name="of_txt_inline"/>
</sng:element>
<sng:element name="sc:inlineImg" snga:title="Imagette">
<sng:attribute name="role">
<sng:value>ico</sng:value>
</sng:attribute>
<sng:ref name="of_txt_id"/>
<sng:attribute name="sc:refUri">
<sng:data type="string">
<sng:param name="minLength">1</sng:param>
</sng:data>
</sng:attribute>
<sng:text/>
</sng:element>
</sng:choice>
</sng:zeroOrMore>
</sng:define>
<sng:define xmlns:sng="http://relaxng.org/ns/structure/1.0" name="of_txt_id">
<sng:optional>
<sng:attribute name="sc:id">
<sng:data type="ID"/>
</sng:attribute>
</sng:optional>
</sng:define>
<sng:define xmlns:sng="http://relaxng.org/ns/structure/1.0" name="of_txt_cells_">
<sng:zeroOrMore>
<sng:choice>
<sng:element name="sc:cell" snga:title="Cellule de texte">
<sng:optional>
<sng:attribute name="role">
<sng:value/>
</sng:attribute>
</sng:optional>
<sng:ref name="of_txt_id"/>
<sng:optional>
<sng:attribute name="rowSpan">
<sng:data type="string"/>
</sng:attribute>
</sng:optional>
<sng:optional>
<sng:attribute name="colSpan">
<sng:data type="string"/>
</sng:attribute>
</sng:optional>
<sng:optional>
<sng:ref name="of_txt_blocs"/>
</sng:optional>
</sng:element>
<sng:element name="sc:cell" snga:title="Cellule de nombre">
<sng:attribute name="role">
<sng:value>num</sng:value>
</sng:attribute>
<sng:ref name="of_txt_id"/>
<sng:optional>
<sng:attribute name="rowSpan">
<sng:data type="string"/>
</sng:attribute>
</sng:optional>
<sng:optional>
<sng:attribute name="colSpan">
<sng:data type="string"/>
</sng:attribute>
</sng:optional>
<sng:optional>
<sng:ref name="of_txt_blocs"/>
</sng:optional>
</sng:element>
<sng:element name="sc:cell" snga:title="Cellule de mot">
<sng:attribute name="role">
<sng:value>word</sng:value>
</sng:attribute>
<sng:ref name="of_txt_id"/>
<sng:optional>
<sng:attribute name="rowSpan">
<sng:data type="string"/>
</sng:attribute>
</sng:optional>
<sng:optional>
<sng:attribute name="colSpan">
<sng:data type="string"/>
</sng:attribute>
</sng:optional>
<sng:optional>
<sng:ref name="of_txt_blocs"/>
</sng:optional>
</sng:element>
</sng:choice>
</sng:zeroOrMore>
</sng:define>
<sng:define xmlns:sng="http://relaxng.org/ns/structure/1.0" name="of_txt_cells_layout">
<sng:zeroOrMore>
<sng:element name="sc:cell" snga:title="Cellule">
<sng:optional>
<sng:attribute name="role">
<sng:value/>
</sng:attribute>
</sng:optional>
<sng:ref name="of_txt_id"/>
<sng:optional>
<sng:attribute name="rowSpan">
<sng:data type="string"/>
</sng:attribute>
</sng:optional>
<sng:optional>
<sng:attribute name="colSpan">
<sng:data type="string"/>
</sng:attribute>
</sng:optional>
<sng:optional>
<sng:ref name="of_txt_blocs"/>
</sng:optional>
</sng:element>
</sng:zeroOrMore>
</sng:define>
<sng:define xmlns:sng="http://relaxng.org/ns/structure/1.0" name="of_blockM">
<sng:element name="of:blockM" snga:title="Titre d'un bloc de contenu">
<sng:optional>
<sng:element name="sp:title" snga:title="Titre">
<snga:documentation>Permet de saisir le nom de la rubrique dans un contenu.</snga:documentation>
<sng:data type="string">
<sng:param name="minLength">1</sng:param>
</sng:data>
</sng:element>
</sng:optional>
</sng:element>
</sng:define>
<sng:define xmlns:sng="http://relaxng.org/ns/structure/1.0" name="of_filter">
<sng:element name="of:filter" snga:title="Filtre par support">
<sng:zeroOrMore>
<sng:element name="sp:exclude" snga:title="Exclu du support">
<sng:choice>
<sng:value type="string" snga:title="Web">web</sng:value>
<sng:value type="string" snga:title="Présentation">slide</sng:value>
<sng:value type="string" snga:title="Papier">paper</sng:value>
</sng:choice>
</sng:element>
</sng:zeroOrMore>
</sng:element>
</sng:define>
<sng:define xmlns:sng="http://relaxng.org/ns/structure/1.0" name="of_eventList">
<sng:element name="of:eventList" snga:title="Liste d'évènements">
<snga:documentation>Permet de regrouper un ensemble titré d'Événements afin de les publier conjointement.</snga:documentation>
<sng:ref name="of_eventListM"/>
<sng:oneOrMore>
<sng:element xmlns:sng="http://relaxng.org/ns/structure/1.0" name="sp:event" snga:title="Évènement">
<snga:documentation>Permet de créer une référence de type Date avec la description de l'événement en question.</snga:documentation>
<sng:optional>
<sng:ref name="of_filter"/>
</sng:optional>
<sng:choice>
<sng:group>
<sng:attribute name="sc:refUri">
<sng:data type="string">
<sng:param name="minLength">1</sng:param>
</sng:data>
</sng:attribute>
<sng:empty/>
</sng:group>
<sng:ref xmlns:sng="http://relaxng.org/ns/structure/1.0" name="of_event"/>
</sng:choice>
</sng:element>
</sng:oneOrMore>
</sng:element>
</sng:define>
<sng:define xmlns:sng="http://relaxng.org/ns/structure/1.0" name="of_event">
<sng:element name="of:event" snga:title="Évènement">
<snga:documentation>Permet de créer une référence de type Date avec la description de l'événement en question.</snga:documentation>
<sng:ref name="of_eventM"/>
<sng:optional>
<sng:element name="sp:co" snga:title="Contenu">
<snga:documentation>Bloc de texte permettant de saisir les détails de l'événement.</snga:documentation>
<sng:ref xmlns:sng="http://relaxng.org/ns/structure/1.0" name="of_flow"/>
</sng:element>
</sng:optional>
</sng:element>
</sng:define>
<sng:define xmlns:sng="http://relaxng.org/ns/structure/1.0" name="of_eventM">
<sng:element name="of:eventM" snga:title="Titre d'un bloc de contenu">
<sng:element name="sp:title" snga:title="Titre">
<snga:documentation>Permet de saisir le titre, l'accroche, de l'événement.</snga:documentation>
<sng:data type="string">
<sng:param name="minLength">1</sng:param>
</sng:data>
</sng:element>
<sng:optional>
<sng:element name="sp:date" snga:title="Date">
<snga:documentation>Permet de saisir la date de l'événement.</snga:documentation>
<sng:data type="string">
<sng:param name="minLength">1</sng:param>
</sng:data>
</sng:element>
</sng:optional>
</sng:element>
</sng:define>
<sng:define xmlns:sng="http://relaxng.org/ns/structure/1.0" name="of_eventListM">
<sng:element name="of:eventListM" snga:title="Meta d'une liste d'évènements">
<sng:element name="sp:title" snga:title="Titre">
<snga:documentation>Permet de saisir le nom de la Liste des événements.</snga:documentation>
<sng:data type="string">
<sng:param name="minLength">1</sng:param>
</sng:data>
</sng:element>
<sng:optional>
<sng:element name="sp:aspect" snga:title="Aspect">
<snga:documentation>Menu déroulant qui permet de définir vos préférences en terme de publication de la Liste d'événements.</snga:documentation>
<sng:choice>
<sng:value type="string" snga:title="Actualités">news</sng:value>
<sng:value type="string" snga:title="Agenda">agenda</sng:value>
</sng:choice>
</sng:element>
</sng:optional>
</sng:element>
</sng:define>
<sng:define xmlns:sng="http://relaxng.org/ns/structure/1.0" name="of_gallery">
<sng:element name="of:gallery" snga:title="Galerie d'images">
<snga:documentation>Permet de lier plusieurs ressources (images, tableaux, graphiques) successivement. </snga:documentation>
<sng:ref name="of_galleryM"/>
<sng:optional>
<sng:element name="sp:pres" snga:title="Présentation">
<snga:documentation>Bloc de texte permettant de saisir une introduction à la galerie d'images.</snga:documentation>
<sng:optional>
<sng:ref name="of_filter"/>
</sng:optional>
<sng:ref xmlns:sng="http://relaxng.org/ns/structure/1.0" name="of_flow"/>
</sng:element>
</sng:optional>
<sng:oneOrMore>
<sng:element xmlns:sng="http://relaxng.org/ns/structure/1.0" name="sp:img" snga:title="Image">
<snga:documentation>Permet de lier une ressource ( Image (png, jpg ou gif), Classeur ou Graphique OpenDocument) qui sera publiée dans votre Galerie d'images.</snga:documentation>
<sng:optional>
<sng:ref name="of_filter"/>
</sng:optional>
<sng:choice>
<sng:group>
<sng:attribute name="sc:refUri">
<sng:data type="string">
<sng:param name="minLength">1</sng:param>
</sng:data>
</sng:attribute>
<sng:empty/>
</sng:group>
<sng:empty/>
</sng:choice>
</sng:element>
</sng:oneOrMore>
</sng:element>
</sng:define>
<sng:define xmlns:sng="http://relaxng.org/ns/structure/1.0" name="of_galleryM">
<sng:element name="of:galleryM" snga:title="Meta d'une galerie d'images">
<sng:element name="sp:title" snga:title="Titre">
<snga:documentation>Permet de saisir le nom d'une Galerie d'images.</snga:documentation>
<sng:data type="string">
<sng:param name="minLength">1</sng:param>
</sng:data>
</sng:element>
</sng:element>
</sng:define>
<sng:define xmlns:sng="http://relaxng.org/ns/structure/1.0" name="of_tree">
<sng:element name="of:tree" snga:title="Arbre de concepts">
<sng:ref name="of_treeM"/>
<sng:optional>
<sng:element name="sp:description" snga:title="Description détaillée">
<snga:documentation>Bloc de texte permettant de saisir les détails du nœud.</snga:documentation>
<sng:ref xmlns:sng="http://relaxng.org/ns/structure/1.0" name="of_flow"/>
</sng:element>
</sng:optional>
<sng:zeroOrMore>
<sng:element xmlns:sng="http://relaxng.org/ns/structure/1.0" name="sp:node" snga:title="Nœud fils">
<snga:documentation>Permet de créer une ramification de l'arbre en ajoutant un nœud.</snga:documentation>
<sng:choice>
<sng:group>
<sng:attribute name="sc:refUri">
<sng:data type="string">
<sng:param name="minLength">1</sng:param>
</sng:data>
</sng:attribute>
<sng:empty/>
</sng:group>
<sng:ref xmlns:sng="http://relaxng.org/ns/structure/1.0" name="of_tree"/>
</sng:choice>
</sng:element>
</sng:zeroOrMore>
</sng:element>
</sng:define>
<sng:define xmlns:sng="http://relaxng.org/ns/structure/1.0" name="of_treeM">
<sng:element name="of:treeM" snga:title="treeM">
<sng:element name="sp:title" snga:title="Titre">
<snga:documentation>Permet de saisir le nom du nœud.</snga:documentation>
<sng:data type="string">
<sng:param name="minLength">1</sng:param>
</sng:data>
</sng:element>
<sng:optional>
<sng:element name="sp:ico" snga:title="Icône">
<snga:documentation>Permet de lier une ressource de type Image qui sera utilisée pour représenter le nœud.</snga:documentation>
<sng:attribute name="sc:refUri">
<sng:data type="string">
<sng:param name="minLength">1</sng:param>
</sng:data>
</sng:attribute>
<sng:empty/>
</sng:element>
</sng:optional>
<sng:optional>
<sng:element name="sp:defaultVisible" snga:title="Visible par défaut">
<snga:documentation>Permet de choisir, pour les publications dynamiques, d'afficher systématiquement le nœud dans l'arbre. Sinon, par défaut, le nœud est replié.</snga:documentation>
<sng:choice>
<sng:value type="string" snga:title="Non">no</sng:value>
<sng:value type="string" snga:title="Oui">yes</sng:value>
</sng:choice>
</sng:element>
</sng:optional>
<sng:optional>
<sng:element name="sp:shortDescription" snga:title="Description courte">
<snga:documentation>Simple ligne de texte qui permet d'ajouter une brève présentation sous le titre du nœud, dans l'arbre.</snga:documentation>
<sng:data type="string">
<sng:param name="minLength">1</sng:param>
</sng:data>
</sng:element>
</sng:optional>
<sng:optional>
<sng:element name="sp:type" snga:title="Type">
<snga:documentation>Permet de sélectionner, au sein d'une liste, la typologie du nœud. En publication dynamique, le type est représenté par une icône particulière.</snga:documentation>
<sng:choice>
<sng:value type="string" snga:title="Normal">normal</sng:value>
<sng:value type="string" snga:title="Important">imp</sng:value>
<sng:value type="string" snga:title="Information">info</sng:value>
<sng:value type="string" snga:title="Question">quest</sng:value>
<sng:value type="string" snga:title="Content :-)">sm-happy</sng:value>
<sng:value type="string" snga:title="Triste :-(">sm-sad</sng:value>
<sng:value type="string" snga:title="Homme">pers-male</sng:value>
<sng:value type="string" snga:title="Femme">pers-female</sng:value>
<sng:value type="string" snga:title="Groupe">pers-group</sng:value>
<sng:value type="string" snga:title="En arrière">back</sng:value>
<sng:value type="string" snga:title="En avant">forward</sng:value>
<sng:value type="string" snga:title="En haut">up</sng:value>
<sng:value type="string" snga:title="En bas">down</sng:value>
<sng:value type="string" snga:title="1">1</sng:value>
<sng:value type="string" snga:title="2">2</sng:value>
<sng:value type="string" snga:title="3">3</sng:value>
<sng:value type="string" snga:title="4">4</sng:value>
<sng:value type="string" snga:title="5">5</sng:value>
<sng:value type="string" snga:title="6">6</sng:value>
<sng:value type="string" snga:title="7">7</sng:value>
<sng:value type="string" snga:title="8">8</sng:value>
<sng:value type="string" snga:title="9">9</sng:value>
<sng:value type="string" snga:title="0">0</sng:value>
<sng:value type="string" snga:title="OK">ok</sng:value>
<sng:value type="string" snga:title="Non OK">nok</sng:value>
<sng:value type="string" snga:title="Plus">add</sng:value>
<sng:value type="string" snga:title="Moins">delete</sng:value>
<sng:value type="string" snga:title="Feu vert">tfc-go</sng:value>
<sng:value type="string" snga:title="Feu rouge">tfc-stop</sng:value>
<sng:value type="string" snga:title="Étiquette bleue">tag-blue</sng:value>
<sng:value type="string" snga:title="Étiquette verte">tag-green</sng:value>
<sng:value type="string" snga:title="Étiquette orange">tag-orange</sng:value>
<sng:value type="string" snga:title="Étiquette rose">tag-pink</sng:value>
<sng:value type="string" snga:title="Étiquette rouge">tag-red</sng:value>
<sng:value type="string" snga:title="Étiquette jaune">tag-yellow</sng:value>
<sng:value type="string" snga:title="Étoile">star</sng:value>
<sng:value type="string" snga:title="Idée">idea</sng:value>
<sng:value type="string" snga:title="Clé">key</sng:value>
<sng:value type="string" snga:title="Date">date</sng:value>
<sng:value type="string" snga:title="Maison">home</sng:value>
<sng:value type="string" snga:title="Drapeau">flag</sng:value>
<sng:value type="string" snga:title="Crayon">pencil</sng:value>
<sng:value type="string" snga:title="Trombone">attach</sng:value>
<sng:value type="string" snga:title="Engrenage">cog</sng:value>
<sng:value type="string" snga:title="Puzzle">puzzle</sng:value>
<sng:value type="string" snga:title="En attente">wait</sng:value>
<sng:value type="string" snga:title="Magie">wand</sng:value>
<sng:value type="string" snga:title="Interdit">forbn</sng:value>
<sng:value type="string" snga:title="Stop">stop</sng:value>
<sng:value type="string" snga:title="Zoom">zoom</sng:value>
</sng:choice>
</sng:element>
</sng:optional>
</sng:element>
</sng:define>
<sng:define xmlns:sng="http://relaxng.org/ns/structure/1.0" name="of_sectionM">
<sng:element name="of:sectionM" snga:title="Titre d'une section">
<sng:element name="sp:title" snga:title="Titre">
<snga:documentation>Permet de saisir le nom de la Section.</snga:documentation>
<sng:data type="string">
<sng:param name="minLength">1</sng:param>
</sng:data>
</sng:element>
</sng:element>
</sng:define>

</sng:grammar>